<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.osori.androidstudy">

    <!--In week4, this permission is needed-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".AndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".week0.PatternStudyActivity" />
        <activity android:name=".week1.CustomDialogActivity" />
        <activity android:name=".week2.ViewPagerActivity" />
        <activity android:name=".week3.CatActivity" />
        <activity android:name=".week4.FloatingViewStartActivity" />
        <activity android:name=".week5.GalleryActivity" />
        <activity android:name=".week6.IntentTestActivity" />
        <activity android:name=".test.DialActivity" />
        <activity android:name=".week7.WhatIsContextActivity" />
        <activity android:name=".week7.NewActivity" />
        <activity android:name=".week8.ButterKnifeActivity" />
        <activity android:name=".week9.SwipeViewActivity" />
        <activity android:name=".week10.RealmTestActivity" />
        <activity
            android:name=".week11.NotificationResultActivity"
            android:parentActivityName=".week11.NotificationActivity">
                <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".week11.NotificationActivity" />
        </activity>
        <activity android:name=".week11.NotificationActivity" />


        <!--service class for week4-->
        <service
            android:name=".week4.FloatingViewService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>